data/finetuning filter=lfs diff=lfs merge=lfs -text
data/pretraining filter=lfs diff=lfs merge=lfs -text
data/refseq filter=lfs diff=lfs merge=lfs -text
data/pretraining/pretraining_refseq.csv filter=lfs diff=lfs merge=lfs -text
data/refseq/vertebrate_mammalian/metadata.csv filter=lfs diff=lfs merge=lfs -text
data/refseq/vertebrate_other/metadata.csv filter=lfs diff=lfs merge=lfs -text
